*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#08060f;
    color:#fff;
    overflow-x:hidden;
}

a{
    text-decoration:none;
}

/* NAVBAR */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:22px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(8,6,15,.55);
    backdrop-filter:blur(18px);
    z-index:1000;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.logo{
    font-size:2rem;
    font-weight:800;
    letter-spacing:8px;
    color:#ff69c8;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    color:white;
    transition:.3s;
    font-weight:500;
}

.nav-links a:hover{
    color:#ff69c8;
}

/* HERO */

.hero{
    position:relative;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:
    linear-gradient(rgba(8,6,15,.55),rgba(8,6,15,.88)),
    url("orbit-bg.png");
    background-size:cover;
    background-position:center;
}

.overlay{
    position:absolute;
    inset:0;
}

.hero-content{
    position:relative;
    max-width:850px;
    padding:20px;
}

.hero-tag{
    display:inline-block;
    padding:10px 22px;
    border-radius:999px;
    border:1px solid rgba(255,105,200,.35);
    background:rgba(255,105,200,.08);
    color:#ffb4e5;
    letter-spacing:3px;
    margin-bottom:30px;
}

.hero h1{
    font-size:5.5rem;
    line-height:1;
    margin-bottom:25px;
    text-shadow:0 0 30px rgba(255,105,200,.35);
}

.hero p{
    color:#d