*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#07060d;
    color:white;
    overflow-x:hidden;
}

/* Navbar */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    backdrop-filter:blur(18px);
    background:rgba(0,0,0,.25);
    border-bottom:1px solid rgba(255,255,255,.08);
    z-index:1000;
}

.logo{
    font-size:34px;
    font-weight:800;
    color:#ff5fcf;
    letter-spacing:2px;
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:.3s;
    font-weight:500;
}

nav a:hover{
    color:#ff5fcf;
}

/* Hero */

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;

    background:url("echo-bg.png") center center/cover no-repeat;
}

.overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(
        rgba(5,5,15,.55),
        rgba(5,5,15,.85)
    );
}

.hero-content{
    position:relative;
    z-index:2;
    max-width:800px;
    padding:20px;
}

.badge{
    display:inline-block;
    padding:10px 22px;
    border-radius:30px;
    background:rgba(255,95,207,.18);
    border:1px solid rgba(255,95,207,.5);
    color:#ff8add;
    margin-bottom:30px;
}

.hero h1{
    font-size:110px;
    line-height:1;
    font-weight:800;
    text-shadow:0 0 30px rgba(255,95,207,.6);
}

.hero p{
    margin-top:25px;
    font-size:20px;
    color:#d7d7d7;
    line-height:1.8;
}

.buttons{
    margin-top:45px;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.primary,
.secondary{
    text-decoration:none;
    padding:16px 42px;
    border-radius:12px;
    transition:.35s;
    font-weight:600;
}

.primary{
    background:#ff5fcf;
    color:white;
    box-shadow:0 0 25px rgba(255,95,207,.5);
}

.primary:hover{
    transform:translateY(-4px);
}

.secondary{
    border:1px solid rgba(255,255,255,.15);
    background:rgba(255,255,255,.06);
    color:white;
}

.secondary:hover{
    background:rgba(255,255,255,.12);
}

@media(max-width:900px){

header{
    flex-direction:column;
    gap:15px;
}

nav{
    gap:18px;
    flex-wrap:wrap;
    justify-content:center;
}

.hero h1{
    font-size:70px;
}

.hero p{
    font-size:18px;
}

}